<!doctype html>
<html>

<head>
    <title>Oauth</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </nav>


</body>

</html>